﻿@model Interviews.Models.Caches.CategoryCache

<link rel="stylesheet" href="~/lib/select2/css/select2.css">
<link rel="stylesheet" href="~/lib/select2-theme-bootstrap4/select2-bootstrap.css">
<link rel="stylesheet" href="~/js/proton/style.css" />

<div class="card card-default">
		<div class="card-header">Inline form</div>
		<div class="card-body">
				<div class="form-group col-lg-4">
						<label class="col-form-label">Categorias</label>
						<select id="Fk_Categories" name="Fk_Categories" class="form-control" data-options='{ "Controller" : "Category", "Method" : "GetCategories" }'><option></option></select>
				</div>
		</div>
</div>


<div class="content-wrapper">
		<div class="card card-default">
				<div class="card-header">Tipos</div>
				<div class="card-body">
						<div id="JSTree"
								 data-options='{
					"Controller": "Type",
					"MethodSelectAll": { "Method" : "TryGetTreeView" },
					"MethodTryDelete": { "Method" : "TryDelete", "Parameter" : "id_Person" },
					"MethodTryEdit": { "Method" : "Edit", "Parameter" : "id_Person", "Type" : "Redirect" }
				}'></div>
				</div>
		</div>
</div>
@section scripts {
		<script src="~/lib/select2/js/select2.js"></script>
		<script src="~/lib/jstree/jstree.js"></script>
		<script src="~/js/CustomTreeView.js"></script>
		<script src="~/js/CustomDropDown.js"></script>
		<script>

				$(function () {
						PopulateComboBox(');
				});

				$('#Fk_Categories').on('change', () => {
						CreateJSTreeEdit('JSTree', 'Category', 'TryGetTreeView', 'TryInsert', 'TryEdit', 'TryDelete', $('#Fk_Categories').val());
				});


				function AddNewType() {
						UnhideElement('frmType');
						PopulateComboBox('Fk_Categories', 'categories');
				}

		</script>
}
