<link rel="stylesheet" href="~/lib/datatables.net-bs4/css/dataTables.bootstrap4.css" />


<div class="container" style="margin-top:3%">
    <a href="#" class="btn btn-primary fa fa-plus" onclick="OpenModalDataTable('ModalSubjectByProfessor', 'Agregar nueva area de conocimiento', true)"> @ViewBag.TextButton</a> <br /><br />
    <table id="tblSubjectByProfessor"
           data-options='{
			"Controller": "@ViewBag.Controller",
			"MethodSelectAll": { "Method" : "TryPopulateDataTable" },
			"MethodTryDelete": { "Method" : "TryDelete", "Parameter" : "@ViewBag.Parameter" },
            "MethodTryEdit": { "Method" : "TryGetSubjectByProfessor", "Type" : "Modal", "Parameter" : "@ViewBag.Parameter", "IdModal": "ModalSubjectByProfessor" }
		}'
           class="table table-striped"></table>
</div>

<div id="ModalSubjectByProfessor" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content  modal-application-fade">
            <div class="modal-header">
                <button type="button" class="close fa fa-close" data-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                @await Html.PartialAsync("EditorTemplate/SubjectByProfessorForm")
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary fa fa-save" onclick="fnSaveChangesSubjectByProfessor();"> Guardar</button>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/datatables.net/jquery.dataTables.js"></script>
<script src="~/lib/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
<script src="~/lib/datatables.net-buttons/dataTables.buttons.js"></script>
<script src="~/js/CustomDataTable.js"></script>

<script>
    $(function () {
        CreateDataTable('tblSubjectByProfessor');
    });

    let fnSaveChangesCategory = () => {
        const obj = GetFormData('frmCategory');

        InsertNewRow('tblCategories', 'Category/TrySaveChanges', obj);
    };

</script>