@model Interviews.Models.ViewModels.InterviewViewModel
@Html.ValidationSummary(true, "Por favor, arregle los siguientes errores: ")

<link rel="stylesheet" href="~/lib/datatables.net-bs4/css/dataTables.bootstrap4.css" />

<div class="accordion">
    <div class="card">
        <div class="card-header" id="headingThree">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <i class="fa fc-agenda-view EditPerson"> Entrevistas</i>
                </button>
            </h2>
        </div>

        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
                <div class="form-group">
                    <div class="col-lg-12">
                        <div class="card card-default">
                            <div class="card-wrapper collapse show">
                                <div class="card-body">
                                    <form id="frmSubjectByProfessor">
                                        <fieldset>
                                            <div class="container" style="margin-top:3%">
                                                <table id="tblInterviewByStudent"
                                                       data-options='{ "Controller": "Interview", "MethodSelectAll": { "Method" : "TryPopulateDataTableByStudent", "Parameter" : "@Model.Fk_Student" } }'
                                                       class="table table-striped"></table>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/jquery-ui-1.12.1/jquery-ui.js"></script>
<script src="~/lib/datatables.net/jquery.dataTables.js"></script>
<script src="~/lib/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
<script src="~/lib/datatables.net-buttons/dataTables.buttons.js"></script>

<script>
    $(document).ready(function () {
        CreateDataTable('tblInterviewByStudent');
    })
</script>
