@model Interviews.Models.ViewModels.SubjectByProfessorViewModel
@Html.ValidationSummary(true, "Por favor, arregle los siguientes errores: ")

<link rel="stylesheet" href="~/lib/select2/css/select2.css">
<link rel="stylesheet" href="~/lib/select2-theme-bootstrap4/select2-bootstrap.css">
<link rel="stylesheet" href="~/lib/bootstrap4-datetimepicker/css/bootstrap-datetimepicker.css">
<link rel="stylesheet" href="~/lib/datatables.net-bs4/css/dataTables.bootstrap4.css" />
<link rel="stylesheet" href="~/lib/fullcalendar/fullcalendar.css" />


	<!-- *MATERIAS POR PROFESOR -->
	<div class="accordion">	
		<div class="card">
			<div class="card-header" id="headingThree">
			<h5 class="mb-0">
				<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
						<i class="	@ViewBag.FontAwesomeIcon"> @ViewBag.Title</i> 
				</button>
			</h5>
			</div>
			<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
				<div class="card-body">
					<div class="form-group">
						<div class="col-lg-12">
							<div class="card card-default">
								<div class="card-wrapper collapse show">
									<div class="card-body">
										<form id="frmSubjectByProfessor">
											<fieldset>
												<div class="container" style="margin-top:3%">
													<a href="#" class="btn btn-info" onclick="OpenModalDataTable('ModalPersonalInformation', '@ViewBag.TextButton')"> @ViewBag.TextButton</a> <br /><br />
													@{ 
														int fkProfessor = 0;
														if (Model != null) {
															fkProfessor = Model.Fk_Professor;
														}
													}
													<table id="tblSubjectByProfessor"
														data-options='{ "Controller": "SubjectByProfessor", "MethodSelectAll": { "Method" : "TryPopulateDataTable", "Parameter" : "@fkProfessor" } }'
														class="table table-striped"></table>
												</div>
											</fieldset>
											<div class="form-row">
												<div class="col-lg-12">
													<button type="button" class="btn btn-primary col-md-2 fa fa-save float-right" onclick="fnSaveChangesPersonalInformation();"> Guardar</button>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	
	 <!-- END MATERIAS POR PROFESOR -->



<script src="~/js/jquery-ui-1.12.1/jquery-ui.js"></script>
<script src="~/lib/select2/js/select2.js"></script>
<script src="~/lib/moment/moment.min.js"></script>
<script src="~/lib/moment/locales.js"></script>
<script src="~/lib/fullcalendar/fullcalendar.js"></script>
<script src="~/lib/fullcalendar/locale/es.js"></script>
<script src="~/lib/bootstrap4-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script src="~/js/CustomDropDown.js"></script>
<script src="~/lib/datatables.net/jquery.dataTables.js"></script>
<script src="~/lib/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
<script src="~/lib/datatables.net-buttons/dataTables.buttons.js"></script>

<script>
	$(document).ready(function () {
		CreateDataTable('tblSubjectByProfessor');
	})
</script>
