/*
Template Name: Color Admin - Responsive Admin Dashboard Template build with Twitter Bootstrap 3 & 4
Version: 4.1.0
Author: Sean Ngu
Website: https://www.seantheme.com/color-admin-v4.1/admin/
*/

.header .navbar-nav > li > a .label,
.label.label-theme,
.btn.btn-scroll-to-top {
    background: #006cff;
}
.header.navbar-inverse .navbar-brand {
	color: rgb(255, 192, 3) !important;

}
.text-theme {
	color: #fff;
	
}
a,
.breadcrumb > li a {
    color: #69bdfb;
}
a:hover,
a:focus,
.breadcrumb > li a:hover,
.breadcrumb > li a:focus {
	color: #a1d7ff;
}


/* Added in v1.5 */

.gradient-enabled .sidebar .nav > li.active > a, 
.gradient-enabled .sidebar .nav > li.active > a:focus, 
.gradient-enabled .sidebar .nav > li.active > a:hover,
.gradient-enabled .header .navbar-nav > li > a .label,
.gradient-enabled.page-sidebar-minified .sidebar .nav > li.has-sub.active:focus > a, 
.gradient-enabled.page-sidebar-minified .sidebar .nav > li.has-sub.active:hover > a, 
.gradient-enabled.page-sidebar-minified .sidebar .nav > li.has-sub.active > a,
.gradient-enabled .label.label-theme,
.gradient-enabled .btn.btn-scroll-to-top,
.gradient-enabled .top-menu .nav > li.active > a, 
.gradient-enabled .top-menu .nav > li.active > a:focus, 
.gradient-enabled .top-menu .nav > li.active > a:hover {
	color: #fff !important;
	background: rgb(64,145,255) !important;
	background: -moz-linear-gradient(top, rgba(64,145,255,1) 0%, rgba(0,81,191,1) 100%) !important;
	background: -webkit-linear-gradient(top, rgba(64,145,255,1) 0%,rgba(0,81,191,1) 100%) !important;
	background: linear-gradient(to bottom, rgba(64,145,255,1) 0%,rgba(0,81,191,1) 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4091ff', endColorstr='#0051bf',GradientType=0 ) !important;
}
.gradient-enabled .sidebar .nav > li.active > a {
	z-index: 10;
}