﻿@using Interviews.Models.Wizards
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>@ViewData["Title"] - Interviews</title>

    @*<link href="../../../../fonts.googleapis.com/cssff98.css?family=Open+Sans:300,400,600,700" rel="stylesheet" />*@
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/animate.css/animate.css" rel="stylesheet" />
    <link href="~/theme/css/style.min.css" rel="stylesheet" />
    <link href="~/theme/css/style-responsive.min.css" rel="stylesheet" />
    <link href="~/theme/css/default.css" rel="stylesheet" />
    <link href="~/lib/sweetalert2/sweetalert2.css" rel="stylesheet" />
    <link href="~/css/ApplicationStyleSheet.css" rel="stylesheet" />

    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/js/jquery-ui-1.12.1/jquery-ui.js"></script>
    <script src="~/lib/pace-js/pace.js"></script>
    <script src="~/js/CustomApplication.js"></script>
    <script src="~/js/CustomSweetalert2.js"></script>
</head>
<body>
    <div class="page-cover" style="background-image: url(@Url.Content("~/img/background/background6.jpg"));"></div>

    <div id="page-loader" class="fade show"><span class="spinner"></span></div>

    <div id="page-container" class="page-container fade page-sidebar-fixed page-header-fixed">
        @Html.AntiForgeryToken()
        @*@await Html.PartialAsync("_LoginPartial")*@
        @Html.Partial("_Header")
        @Html.Partial("_Sidebar")
        <div id="content" class="content">

            <ol class="breadcrumb pull-right">
                <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
                <li class="breadcrumb-item"><a href="javascript:;">Page Options</a></li>
                <li class="breadcrumb-item active">Blank Page</li>
            </ol>
            @{
            string Title = "SIGEAO";
            if (ViewBag.PageHeader != null)
            {
                Title = ViewBag.PageHeader;
            }
            }
            <h1 class="page-header">@Title <small></small></h1>
            @*<div>
                <button class="btn btn-default"> Cambiar imagen de fondo</button>
            </div>*@
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-sm btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand-arrows-alt"></i></a>
                        <!-- <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a> -->
                        <a href="javascript:;" class="btn btn-sm btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    </div>
                    <h4 class="panel-title">@ViewBag.Title</h4>
                </div>
                <div class="panel-body">
                    @RenderBody()
                </div>
            </div>
        </div>
        @Html.Partial("_Settings")
        <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
    </div>

    <script src="~/lib/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="~/lib/jquery-slimscroll/jquery.slimscroll.js"></script>
    <script src="~/lib/js-cookie/js.cookie.js"></script>
    <script src="~/theme/js/transparent.min.js"></script>
    <script src="~/lib/underscore/underscore.js"></script>
    <script src="~/theme/js/apps.min.js"></script>
    <script src="~/lib/sweetalert2/sweetalert2.js"></script>

    <script>
        $(document).ready(function () {
			$('#titleSection').append('@ViewBag.Title');
            App.init();
            GetMenuCategories();
        });

        let GetMenuCategories = () => {
            let obj = {};

            let HttpRequest = MakeRequest('Category/TryGetMenuByCategories', obj);

            HttpRequest
                .then(res => {
                    const data = JSON.parse(res.body);
                    FunctionGenerateMenu(data)
                })
                .catch(err => console.log(err));
        }
 var index = 0;

 var listaimg = ["@Url.Content("~/img/background/background1.jpg")", "@Url.Content("~/img/background/background2.jpg")", "@Url.Content("~/img/background/background3.jpg")",
 "@Url.Content("~/img/background/background4.jpg")", "@Url.Content("~/img/background/background5.jpg")", "@Url.Content("~/img/background/background6.jpg")",
 "@Url.Content("~/img/background/background35.jpg")"];
     $(function() {

         setInterval(changeImage, 3000);

     });

     function changeImage(onclick) {
        $('body').css("background-image", 'url(' + listaimg[index] + ')');

        index++;

       if(index == 6)
          index = 0;
    }


        function FunctionGenerateMenu (data) {

            let element = $('#subMenuEntities');

            $.each(data, (index, item) => {
                element.append(`<li><a  href="/Category/TryGetCategory?id=${item.id_Category}"><i class="${item.tx_NameIconFontAwesome}"></i><span>${item.tx_Description}</span></a></li>`)
            });
        }
        //to do CustomApplication
        $('#toggleAccordions').on('click', function(e) {
            $('.accordion .collapse').toggleClass('show');
        });

    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
