@model Interviews.Models.ViewModels.PersonViewModel
@Html.ValidationSummary(true, "Por favor, arregle los siguientes errores: ")

<link rel="stylesheet" href="~/lib/select2/css/select2.css">
<link rel="stylesheet" href="~/lib/select2-theme-bootstrap4/select2-bootstrap.css">
<link rel="stylesheet" href="~/lib/bootstrap4-datetimepicker/css/bootstrap-datetimepicker.css">
<link rel="stylesheet" href="~/lib/datatables.net-bs4/css/dataTables.bootstrap4.css" />

@{
    int fkGender = 0;
    int fkTypeDocumentIdentification = 0;
    string idPerson = "0";
    if (Model != null)
    {
        fkGender = Model.Fk_Gender;
        fkTypeDocumentIdentification = Model.Fk_TypeDocumentIdentification;
        idPerson = Model.Id_Person;
    }
}

<div class="card">
    <div class="card-header" id="headingOne">
        <h5 class="mb-0">
            <a data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <i class="fa fa-user EditPerson"> Datos Personales</i>
            </a>
        </h5>
    </div>
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
            <div class="card-wrapper collapse show">
                <div class="card-body">
                    <form id="frmPerson">
                        <fieldset>
                            <input asp-for="Id_Person" type="hidden">
                            <div class="form-group row m-b-15">
                                <label asp-for="Tx_FirtsName" class="col-lg-2 col-form-label"></label>
                                <div class="col-lg-4">
                                    <input asp-for="Tx_FirtsName" class="form-control text-capitalize">
                                    <span asp-validation-for="Tx_FirtsName" class="text-danger"></span>
                                </div>
                                <label asp-for="Tx_MiddleName" class="col-lg-2 col-form-label"></label>
                                <div class="col-lg-4">
                                    <input asp-for="Tx_MiddleName" class="form-control text-capitalize">
                                    <span asp-validation-for="Tx_MiddleName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row m-b-15">
                                <label asp-for="Tx_LastName" class="col-lg-2 col-form-label"></label>
                                <div class="col-lg-4">
                                    <input asp-for="Tx_LastName" class="form-control text-capitalize">
                                    <span asp-validation-for="Tx_LastName" class="text-danger"></span>
                                </div>
                                <label asp-for="Tx_SecondLastName" class="col-lg-2 col-form-label"></label>
                                <div class="col-lg-4">
                                    <input asp-for="Tx_SecondLastName" class="form-control text-capitalize">
                                    <span asp-validation-for="Tx_SecondLastName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row m-b-15">
                                <label asp-for="Dt_Birthday" class="col-2 col-form-label"></label>
                                <div class="col-lg-4">
                                    <div class="input-group date" id="datePickerDt_Birthday">
                                        <input asp-for="Dt_Birthday" class="form-control" type="text">
                                        <span class="input-group-append input-group-addon">
                                            <span class="input-group-text fa fa-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <label asp-for="Fk_Gender" class="col-lg-2 col-form-label"></label>
                                <div class="col-lg-4">
                                    <select asp-for="Fk_Gender" class="form-control selectpicker" data-options='{ "Controller" : "Category", "Method" : "GetGenders", "Selected" : @fkGender, "IdField" : "id_Type", "DescriptionField" : "tx_Description" }'><option></option></select>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-row">
                                <div class="col-lg-12">
                                    <i class="fa fa-address-card"> </i> Documentos de identificación
                                </div>
                            </div>
                            <br>
                            <div class="form-row">
                                <label asp-for="Fk_TypeDocumentIdentification" class="col-lg-3 col-form-label"></label>
                                <div class="col-lg-4">
                                    <select asp-for="Fk_TypeDocumentIdentification" class="form-control selectpicker" data-size="10" data-live-search="true" data-options='{ "Controller" : "Category", "Method" : "GetTypeDocumentIdentification", "Selected" : @fkTypeDocumentIdentification, "IdField" : "id_Type", "DescriptionField" : "tx_Description"  }'><option></option></select>
                                </div>
                                <label asp-for="Tx_DescriptionDocumentIdentification" class="col-lg-2 col-form-label"></label>
                                <div class="col-lg-3">
                                    <input asp-for="Tx_DescriptionDocumentIdentification" class="form-control text-capitalize">
                                    <span asp-validation-for="Tx_DescriptionDocumentIdentification" class="text-danger"></span>
                                </div>
                            </div>
                        </fieldset>
                        <div class="form-row">
                            <div class="col-lg-12">
                                <a type="button" class="btn btn-primary col-md-2 fa fa-save float-right" onclick="fnSaveChangesPerson();"> Guardar</a>
                            </div> 
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="card">
    <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
            <a data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <i class="fa fa-user EditPerson"> Información personal</i>
            </a>
        </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        @{
            if (Model != null)
            {
                <div class="container" style="margin-top:3%">
                    @*<a href="#" class="btn btn-primary fa fa-plus" onclick="OpenModalDataTable('ModalPersonalInformation', 'Información personal', true)"> @ViewBag.TextButton</a>*@ <br /><br />
                    <table id="tblPersonalInformation"
                           data-options='{ "Controller": "PersonalInformation", "MethodSelectAll": { "Method" : "TryPopulateDataTable", "Parameter" : "@idPerson" } }'
                           class="table table-striped"></table>
                </div>
            }
        }
    </div>
</div>


<div id="ModalPersonalInformation" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="lblModal">New message</h5>
                <button type="button" class="close fa fa-close" data-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                @await Html.PartialAsync("EditorTemplate/PersonalInformationForm")
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary fa fa-save" onclick="fnSaveChangesPersonalInformation();"> Guardar</button>
            </div>
        </div>
    </div>
</div>


<script src="~/lib/select2/js/select2.js"></script>
<script src="~/lib/moment/moment.min.js"></script>
<script src="~/lib/moment/locales.js"></script>
<script src="~/lib/bootstrap4-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script src="~/js/CustomDropDown.js"></script>
<script src="~/lib/datatables.net/jquery.dataTables.js"></script>
<script src="~/lib/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
<script src="~/lib/datatables.net-buttons/dataTables.buttons.js"></script>
<script src="~/js/CustomDataTable.js"></script>

<script>
	$(document).ready(function () {
		$('#datePickerDt_Birthday').datetimepicker();
		PopulateComboBox('Fk_Gender');
		PopulateComboBox('Fk_TypeDocumentIdentification');
		CreateDataTable('tblPersonalInformation');
	})

    function fnSaveChangesPerson() {
		let obj = { 'Person' : GetFormData('frmPerson') };
		InsertNewRow('tblPersons','@ViewBag.Controller/TrySaveChanges', obj);
	}
</script>