﻿@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using Interviews.Models.Entities
@using Interviews.Models.AccountViewModels
@model RegisterViewModel
@inject SignInManager<UserApplication> SignInManager

@{
    ViewBag.Title = "Log in";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Login - Interviews</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/animate.css/animate.css" rel="stylesheet" />
    <link href="~/theme/css/style.min.css" rel="stylesheet" />
    <link href="~/theme/css/style-responsive.min.css" rel="stylesheet" />
    <link href="~/theme/css/default.css" rel="stylesheet" />

    @section script {
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/lib/jquery-validation/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    }

</head>
<body>
    <div id="page-container">
        <div class="login login-with-news-feed">
            <div class="news-feed">
                <div class="news-image" style="background-image: url(@Url.Content("~/img/background/background2.jpg"));"></div>
                <div class="news-caption">
                    <h4 class="caption-title"><b>SIGEAO</b> Login App</h4>
                </div>
            </div>
            <div class="right-content">
                <div class="login-header">
                    <div class="brand">
                        <span class="logo"></span> <b>SIGEAO</b> Login
                        <small>Asesorias online al alcance de tu mano</small>
                    </div>
                    <div class="icon">
                        <i class="fa fa-sign-in"></i>
                    </div>
                </div>
                <div class="login-content">
                    <h2>Recuperar contraseña</h2>
                    <h4>Enter your email.</h4>
                    <hr />
                    <div class="row">
                        <div class="col-md-4">
                            <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
                                <h4>Create a new account.</h4>
                                <hr />
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="Email"></label>
                                    <input asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Password"></label>
                                    <input asp-for="Password" class="form-control" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ConfirmPassword"></label>
                                    <input asp-for="ConfirmPassword" class="form-control" />
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                                <button type="submit" class="btn btn-default">Register</button>
                            </form>
                        </div>
                    </div>
                    <div class="m-t-20 m-b-40 p-b-40">
                        ¿No eres miembro aún? Click <a asp-controller="Account" asp-action="Register">aquí</a> para registrarte.
                    </div>
                    <hr />
                    <p class="text-center">
                        &copy; SIGEAO Todos los Derechos Reservados 2018
                    </p>
                </div>
            </div>
        </div>
    </div>

    @section Scripts {
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }

    <script src="~/lib/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="~/lib/jquery-slimscroll/jquery.slimscroll.js"></script>
    <script src="~/lib/js-cookie/js.cookie.js"></script>
    <script src="~/theme/js/transparent.min.js"></script>
</body>
</html>