﻿<div id="sidebar" class="sidebar">
    <div data-scrollbar="true" data-height="100%">
        <ul class="nav">
            <li class="nav-profile">
                <a href="javascript:;" data-toggle="nav-profile">
                    <div class="image">
                        <img src="~/img/user/user-13.jpg" alt="" />
                    </div>
                    <div class="info">
                        <b class="caret pull-right"></b>
                        Bienvenido @User.Identity.Name
                        <small>@*Front end developer*@</small>
                    </div>
                </a>
            </li>
            <li>
                <ul class="nav nav-profile">
                    <li><a href="javascript:;"><i class="fa fa-cog"></i> Settings</a></li>
                    <li><a href="javascript:;"><i class="fa fa-pencil-alt"></i> Send Feedback</a></li>
                    <li><a href="javascript:;"><i class="fa fa-question-circle"></i> Helps</a></li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li><a asp-controller="Account" asp-action="Logout"><i class="fa fa-sign-out-alt"></i> Cerrar sesión</a></li>
                    }
                </ul>
            </li>
        </ul>
        <ul class="nav">
            <li class="nav-header">Navigation</li>

            <li class="has-sub ">
                <a href="javascript:;">
                    <b class="caret"></b>
                    <i class="fa fa-th-large"></i>
                    <span>Dashboard</span>
                </a>
                <ul class="sub-menu">
                    <li><a href="index.html">Dashboard v1</a></li>
                    <li><a href="index_v2.html">Dashboard v2</a></li>
                </ul>
            </li>

            @*@if (User.IsInRole("ESTUDIANTE") || User.IsInRole("COORDINADOR") || User.IsInRole("ADMINISTRADOR"))
            {*@
                <li><a asp-controller="Interview" asp-action="Create"><i class="fa fa-video"></i><span> Entrevistas</span></a></li>
@*            }*@

            @*@if (User.IsInRole("ESTUDIANTE") || User.IsInRole("COORDINADOR") || User.IsInRole("ADMINISTRADOR"))
            {*@
                <li class="has-sub">
                    <a href="javascript:;">
                        <b class="caret"></b>
                        <i class="fa fa-cogs"></i>
                        <span>Configuración</span>
                    </a>
                    <ul class="sub-menu">
                        <li><a asp-controller="Category" asp-action="Create"><i class="fa fa-table"></i><span> Agregar entidad</span></a></li>
                        <li class="has-sub">
                            <a href="javascript:;"><i class="fa fa-list-ul"></i><b class="caret"></b><span> Entidades</span></a>
                            <ul id="subMenuEntities" class="sub-menu"></ul>
                        </li>
                        <li><a asp-controller="SubjectByProfessor" asp-action="Index"><i class="fa fa-atlas"></i><span> Areas de conocimiento por facilitador</span></a></li>
                        <li><a asp-controller="User" asp-action="Index"><i class="fa fa-user"></i><span> Usuarios</span></a></li>
                        <li><a asp-controller="Student" asp-action="Index"><i class="fa fa-user-graduate"></i><span> Estudiantes</span></a></li>
                        <li><a asp-controller="Professor" asp-action="Index"><i class="fa fa-user-tie"></i><span> Profesores</span></a></li>
                    </ul>
                </li>
            @*}*@
            <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
        </ul>
    </div>
</div>
<div class="sidebar-bg"></div>