<link rel="stylesheet" href="~/lib/datatables.net-bs4/css/dataTables.bootstrap4.css" />

<div class="container" style="margin-top:3%">
	<a href="#" class="btn btn-primary @ViewBag.FontAwesomeIcon" onclick="fnNewUser()"> @ViewBag.TextButton</a> <br /><br />
	<table id="tblUser"
		data-options='{ 
			"Controller": "@ViewBag.Controller", 
			"MethodSelectAll": { "Method" : "TryPopulateDataTable" }, 
			"MethodTryDelete": { "Method" : "TryDelete", "Parameter" : "@ViewBag.Parameter" },
			"MethodTryEdit": { "Method" : "Edit", "Parameter" : "@ViewBag.Parameter", "Type" : "Redirect" }
		}' 
		class="table table-striped">
	</table> 
</div>

<script src="~/lib/datatables.net/jquery.dataTables.js"></script>
<script src="~/lib/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
<script src="~/lib/datatables.net-buttons/dataTables.buttons.js"></script>
<script src="~/js/CustomDataTable.js"></script>

<script>
	$(function () {
        CreateDataTable('tblUser');
	});

	function fnNewUser() {
		window.location.href = "@ViewBag.Controller/Create"
	}
</script>