﻿@model Interviews.Models.ViewModels.PersonalInformationRequiredViewModel

<link rel="stylesheet" href="./lib/datatables.net-bs4/css/dataTables.bootstrap4.css" />
<link rel="stylesheet" href="~/lib/select2/css/select2.css">
<link rel="stylesheet" href="~/lib/select2-theme-bootstrap4/select2-bootstrap.css">
<link rel="stylesheet" href="~/js/proton/style.css" />

<div class="form-group">
	<div class="col-lg-12">
		<div class="card card-default">
			<div class="card-header">
				<i class="fa fa-video-camera"></i> @ViewBag.Title
				<a class="float-right" href="#" data-tool="card-collapse" data-toggle="tooltip" title="" data-original-title="Colapsar">
					<em class="fa fa-minus"></em>
				</a>
			</div>
			<div class="card-wrapper collapse show">
				<div class="card-body">
					<a asp-controller="@ViewBag.Controller" asp-action="Create" id="btnRequestPersonalInformationRequired" class="btn btn-info @ViewBag.FontAwesomeIcon "> @ViewBag.TextButton</a> <br /><br />
					<table id="tblPersonalInformationRequireds"
						data-options='{
							"Controller": "@ViewBag.Controller",
							"MethodSelectAll": { "Method" : "TryPopulateDataTable" },
							"MethodTryDelete": { "Method" : "TryDelete", "Parameter" : "@ViewBag.Parameter" },
							"MethodTryEdit": { "Method" : "TryGetCategory", "Type" : "Redirect", "Parameter" : "@ViewBag.Parameter" }
						}' class="table table-striped">
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	<script src="./lib/datatables.net/jquery.dataTables.js"></script>
	<script src="./lib/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
	<script src="./lib/datatables.net-buttons/dataTables.buttons.js"></script>
	<script src="~/lib/select2/js/select2.js"></script>
	<script src="~/js/CustomDropDown.js"></script>
	<script src="./js/CustomDataTable.js"></script>
	<script src="~/lib/jstree/jstree.js"></script>
	<script src="~/js/FontAwesomeIcons.js"></script>
	<script src="~/js/CustomTreeView.js"></script>

	<script>
		$(function () {
			CreateDataTable('tblPersonalInformationRequireds');
		});

	</script>
}