﻿@model Interviews.Models.ViewModels.PersonViewModel
@Html.ValidationSummary(true, "Por favor, arregle los siguientes errores: ")

<link rel="stylesheet" href="~/lib/select2/css/select2.css">
<link rel="stylesheet" href="~/lib/select2-theme-bootstrap4/select2-bootstrap.css">
<link rel="stylesheet" href="~/lib/bootstrap4-datetimepicker/css/bootstrap-datetimepicker.css">

<div class="form-group">
	<div class="col-lg-12">
		<div class="card card-default">
			<div class="card-header">
				<i class="fa fa-user"></i> Información personal
				<a class="float-right" href="#" data-tool="card-collapse" data-toggle="tooltip" title="" data-original-title="Colapsar">
					<em class="fa fa-minus"></em>
				</a>
			</div>
			<div class="card-wrapper collapse show">
				<div class="card-body">
					<form id="frmPersonalInformation">
						<fieldset>
							<div class="form-row">
								<div class="form-group col-lg-4">
									<label class="col-form-label">Tipo información</label>
									<select id = "Fk_TypeInformationRequired" name = "Fk_TypeInformationRequired" class="form-control" data-options='{ "Controller" : "PersonalInformationRequired", "Method" : "TryGetInformationRequired", "IdModal" : "ModalPersonalInformation", "IdField" : "id_Type", "DescriptionField" : "tx_Description" }'><option></option></select>
								</div>
							</div>
							<br>
							<div id="dvPersonalInformation" class="form-row invisible">
								<div class="form-group col-lg-4">
									<label class="col-form-label">Tipo documento</label>
									<select id="Fk_TypeInformation_I" name = "Fk_TypeInformation" class="form-control" data-container-app='{ "Class" : "PersonalInformation_I", "Type" : "ICollection", "Key" : "0" }' data-options='{ "IdModal" : "ModalPersonalInformation" }'><option></option></select>
								</div>
								<div class="form-group col-lg-3">
									<label class="col-form-label" >N° documento</label>
									<input id="PersonalInformation_I" class="form-control text-capitalize" data-container-app='{ "Class" : "PersonalInformation_I", "Type" : "ICollection", "Key" : "0" }'>
									<span  class="text-danger"></span>
								</div>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="~/lib/select2/js/select2.js"></script>
<script src="~/lib/moment/moment.min.js"></script>
<script src="~/lib/moment/locales.js"></script>
<script src="~/lib/bootstrap4-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script src="~/js/CustomDropDown.js"></script>    

<script>
	$(document).ready(function () {
		$('#datePickerDt_Birthday').datetimepicker();
		PopulateComboBox('Fk_TypeInformationRequired');
	})

	function fnSaveChangesPersonalInformation(){
		const obj = GetFormData('frmPersonalInformation');

		ConfirmDeleteRecord('tblPersonalInformation','PersonalInformation/TrySaveChanges', obj);
	}

	$('#Fk_TypeInformationRequired').on('select2:select', function (e) {
		var data = e.params.data;

		let IsDropDrownList = data.bo_IsDropDownList;

		let obj = {
			'fk_AssociatedCategory': data.fk_AssociatedCategory
		};
		let HttpRequest = MakeRequest('PersonalInformationRequired/TryFindDataInformationRequired', obj);		

		HttpRequest
			.then(res => {
				if (IsDropDrownList) {
					$('#dvPersonalInformation').removeClass('invisible');
					PopulateComboBoxWithData('Fk_TypeInformation_II', res.body);
				}
			}).catch((err) => {
				console.log(`Algo salió mal: ${err}`);
			});
	});
</script>