﻿@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/lib/morris.js/morris.css">
<script src="~/lib/raphael/raphael.js"></script>
<script src="~/lib/morris.js/morris.js"></script>

<div class="container" style="margin-top:3%">
    <h4>Video conferencias por año</h4>
    <div class="panel-body">
        <div id="myfirstchart" style="height: 250px;"></div>
    </div>
</div>

<div class="container" style="margin-top:3%">
    <h4>Video conferencias por semana</h4>
    <div class="panel-body">
        <div id="myfirstchart_week" style="height: 250px;"></div>
    </div>
</div>

<div class="col-lg-12 row">
    <blockquote class="col-lg-6 row">
        <div class="form-group " style="margin-top:3%">
            <b>Satisfación</b>
            <div class="col-lg-6 row">
                <div id="donut_example_1" style="height: 250px;"></div>
            </div>
        </div>
    </blockquote>
    <blockquote class="col-lg-6 row">
        <div class="form-group  " style="margin-top:3%">
            <b>Estatus de Entrevista</b>
            <div class="col-lg-6 row">
                <div id="donut_example_2" style="height: 250px;"></div>
            </div>
        </div>
        </blockquote>
</div>
<script>
    $(document).ready(() => {
        new Morris.Line({
            element: 'myfirstchart',
            data: [
                { year: '2008', value: 112 },
                { year: '2009', value: 145 },
                { year: '2010', value: 132 },
                { year: '2011', value: 122 },
                { year: '2012', value: 90 },
                { year: '2013', value: 100 },
                { year: '2014', value: 170 },
                { year: '2015', value: 143 },
                { year: '2016', value: 132 },
                { year: '2017', value: 70 }
            ],
            xkey: 'year',
            ykeys: ['value'],
            labels: ['Value']
        });

        new Morris.Line({
            element: 'myfirstchart_week',
            data: [
                { week: '2008', value: 112 },
                { week: '2009', value: 145 },
                { week: '2010', value: 132 },
                { week: '2011', value: 122 },
                { week: '2012', value: 90 },
                { week: '2013', value: 100 },
                { week: '2014', value: 170 },
                { week: '2015', value: 143 },
                { week: '2016', value: 132 },
                { week: '2017', value: 70 }
            ],
            xkey: 'week',
            ykeys: ['value'],
            labels: ['Value']
        });

        Morris.Donut({
            element: 'donut_example_1',
            data: [
                { label: "Buena", value: 77 },
                { label: "Regular", value: 13 },
                { label: "Mala", value: 5 }
            ]
        });

        Morris.Donut({
            element: 'donut_example_2',
            data: [
                { label: "Realizada", value: 60 },
                { label: "No realizada", value: 40 }
            ]
        });
    })
</script>