@model Interviews.Models.ViewModels.SheduleByProfessorViewModel
@Html.ValidationSummary(true, "Por favor, arregle los siguientes errores: ")

<link rel="stylesheet" href="~/lib/select2/css/select2.css">
<link rel="stylesheet" href="~/lib/select2-theme-bootstrap4/select2-bootstrap.css">
<link rel="stylesheet" href="~/lib/bootstrap4-datetimepicker/css/bootstrap-datetimepicker.css">
<link rel="stylesheet" href="~/lib/datatables.net-bs4/css/dataTables.bootstrap4.css" />
<link rel="stylesheet" href="~/lib/fullcalendar/fullcalendar.css" />

<div class="accordion">
    <div class="card">
        <div class="card-header" id="headingThree">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <i class="fa fa-calendar EditPerson"> Fechas disponibles para brindar asesorias</i>
                </button>
            </h2>
        </div>

        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
                <div class="form-group">
                    <div class="col-lg-12">
                        <div class="card card-default">
                            <div class="card-wrapper collapse show">
                                <div class="card-body">
                                    <form id="frmSheduleByProfessor">
                                        <fieldset>
                                            <input asp-for="Id_SheduleByProfessor" type="hidden">
                                            <input asp-for="Fk_Professor" type="hidden">
                                            <div class="col-lg-12 col-md-12 col-12 row calendar-app">
                                                <div class="col-lg-2 col-md-2 col-2">
                                                    <div class="card card-default">
                                                        <div class="card-header">
                                                            <h4 class="card-title">Agregar disponibilidad</h4>
                                                        </div>
                                                        <div class="external-events-trash ui-droppable">
                                                            <div class="card-body">
                                                                <div class="external-events">
                                                                    <div class="invisible"></div>
                                                                    <div id="dragItem" class="bg-green ui-draggable ui-draggable-handle" style="position: relative;">Disponible</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-10 col-md-10 col-10">
                                                    <div id="sheduler"></div>
                                                </div>
                                            </div>
                                        </fieldset>
                                        <!-- <div class="form-row">
                                            <div class="col-lg-12">
                                                <button type="button" class="btn btn-primary col-md-2 fa fa-save float-right" onclick="fnSaveChangesPersonalInformation();"> Guardar</button>
                                            </div>
                                        </div> -->
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/js/jquery-ui-1.12.1/jquery-ui.js"></script>
<script src="~/lib/select2/js/select2.js"></script>
<script src="~/lib/moment/moment.min.js"></script>
<script src="~/lib/moment/locales.js"></script>
<script src="~/lib/fullcalendar/fullcalendar.js"></script>
<script src="~/lib/fullcalendar/locale/es.js"></script>
<script src="~/lib/bootstrap4-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script src="~/js/CustomDropDown.js"></script>
<script src="~/lib/datatables.net/jquery.dataTables.js"></script>
<script src="~/lib/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
<script src="~/lib/datatables.net-buttons/dataTables.buttons.js"></script>

<script>
	$(document).ready(function () {
		$('#dragItem').each(function () {
			$(this).data('event', {
				title: $.trim($(this).text()),
				stick: true
			});
			$(this).draggable({
				zIndex: 999,
				revert: true,
				revertDuration: 0
			});
		});

		var selectedEvent = null;
		FetchEventAndRenderCalendar();

		function FetchEventAndRenderCalendar() {
			let obj = {
				Id_Professor: @Model.Fk_Professor
			};

			let HttpRequest = MakeRequest('Professor/GetAllDataFullCalendarByProfessor', obj);

			HttpRequest
				.then(res => GenerateCalender(res.body))
				.catch(err => console.log(err));
		}

		function GenerateCalender(data) {
			$('#sheduler').fullCalendar('destroy');
			$('#sheduler').fullCalendar({
				themeSystem: 'bootstrap4',
				header: {
					left: 'prev,next today',
					center: 'title',
					right: 'month,agendaWeek,agendaDay',
					defaultAllDay: true,
				},
				defaultView: 'agendaWeek',
				weekNumbers: true,
				eventLimit: true,
				events: JSON.parse(data),
				selectable: true,
				selectOverlap: false,
				slotEventOverlap: false,
				select: function (start, end) {
					OpenEditForm();
				},
				eventOverlap: function (stillEvent, movingEvent) {
					return stillEvent.allDay && movingEvent.allDay;
				},
				droppable: true,
				dropAccept: '.ui-draggable',
				eventDrop: function (event) {

					let startDate = new Date(event.start.format());
					let endDate = new Date(startDate);
					let hourStartDate = startDate.getHours();
					endDate.setHours(hourStartDate + 2);

					fnSaveChangesSheduleByProfessor(startDate, endDate);

				},
				editable: true,
                eventResize: function (event, delta, revertFunc) {
                    let startDate = new Date(event.start.format());
                    let endDate = new Date(event.end.format());

					fnSaveChangesSheduleByProfessor(startDate, endDate);
				}
			})
		}
	})

	function OpenEditForm() {
		$('#myModalSave').show();
	}

	function fnSaveChangesSheduleByProfessor(start, end) {
		let obj = {
			'Fk_Professor': @Model.Fk_Professor,
            'Start': fnCancelTimeChangesUTC(start),
            'End': fnCancelTimeChangesUTC(end)
		};

		ConfirmInsertAction('SheduleByProfessor/TrySaveChanges', obj);
	}

</script>
