﻿@model Interviews.Models.ViewModels.CategoryViewModel
@Html.ValidationSummary(true, "Por favor, arregle los siguientes errores: ")

<link rel="stylesheet" href="~/lib/select2/css/select2.css">
<link rel="stylesheet" href="~/lib/select2-theme-bootstrap4/select2-bootstrap.css">
<link rel="stylesheet" href="~/lib/bootstrap4-datetimepicker/css/bootstrap-datetimepicker.css">
<link rel="stylesheet" href="~/lib/jstree/themes/default/style.css">

<div class="form-group">
    <div class="col-lg-12">
        <div class="card card-default">
            <div class="card-header">
                <i class="fa fa-cog"></i> Entidad
                <a class="float-right" href="#" data-tool="card-collapse" data-toggle="tooltip" title="" data-original-title="Colapsar">
                    <em class="fa fa-minus"></em>
                </a>
            </div>
            <div class="card-wrapper collapse show">
                <div class="card-body">
                    <form id="frmCategory" class="form-horizontal">
                        <input asp-for="Id_Category" type="hidden">
                        <div class="form-group row">
                            <label asp-for="Tx_Description" class="col-form-label col-lg-2"></label>
                            <div class="col-lg-4">
                                <input asp-for="Tx_Description" class="form-control text-capitalize">
                            </div>
                            <label asp-for="Fk_IconFontAwesome" class="col-form-label col-lg-2"></label>
                            <div class="col-lg-4">
                                <select asp-for="Fk_IconFontAwesome" class="form-control text-capitalize" data-options='{ "Controller" : "IconFontAwesome", "Method" : "GetAll", "IdField" : "id_IconFontAwesome", "DescriptionField" : "tx_Description" }'><option>@ViewBag.FontAwesome</option></select>
                                <span asp-validation-for="Fk_IconFontAwesome" class="text-danger"></span>
                            </div>
                            <div class="col-lg-12">
                                <span></span>
                            </div>
                        </div>
                        <br>
                        <div class="container">
                            <div class="row">
                                <div class="checkbox checkbox-css col-sm-4">
                                    <input asp-for="Bo_Enabled">
                                    <label asp-for="Bo_Enabled"></label>
                                </div>
                                <div class="checkbox checkbox-css col-sm-4">
                                    <input asp-for="Bo_IsTypeFather">
                                    <label asp-for="Bo_IsTypeFather"></label>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="form-row">
                            <div class="col-lg-12">
                                <button type="button" class="btn btn-primary col-md-2 fa fa-save float-right" onclick="fnSaveChangesCategory();"> Guardar</button>
                            </div>
                        </div>
                    </form>
                    <div id="containerTreeView" class="d-none">
                        <fieldset>
                            <legend class="border-bottom mb-4 fa fa-cogs"> SubCategorias asociadas</legend>
                            <form id="frmType" class="form-horizontal d-none">
                                <input asp-for="Type.Id_Type" type="hidden">
                                <div class="form-group row">
                                    <label asp-for="Type.Tx_Description" class="col-form-label col-xl-2"></label>
                                    <div class="col-lg-6">
                                        <input asp-for="Type.Tx_Description" class="form-control text-capitalize">
                                        <span asp-validation-for="Type.Tx_Description" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label asp-for="Type.Tx_NameIconFontAwesome" class="col-form-label col-lg-2"></label>
                                    <div class="col-lg-4">
                                        <select asp-for="Type.Tx_NameIconFontAwesome" class="form-control text-capitalize" data-options='{ "IdModal": "ModalCategory" }'><option></option></select>
                                        <span asp-validation-for="Type.Tx_NameIconFontAwesome" class="text-danger"></span>
                                    </div>
                                </div>
                                <br>
                                <div class="checkbox c-checkbox col-sm-4">
                                    <label asp-for="Type.Bo_Enabled">
                                        <input asp-for="Type.Bo_Enabled">
                                        <span asp-validation-for="Type.Bo_Enabled" class="fa fa-check"></span><label asp-for="Type.Bo_Enabled"></label>
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <button type="button" class="btn btn-primary fa fa-save" onclick="fnSaveCategory();"> Guardar</button>
                                </div>
                            </form>
                            <div class="card-body">
                                <button class="btn btn-xs btn-labeled btn-primary mb-2" type="button" onclick="AddNewType();"><span class="btn-label"><i class="fa fa-plus"></i></span>Agregar</button>
                                <button name='btnEditTreeView' class="btn btn-xs btn-labeled btn-success mb-2 d-none" type="button"><span class="btn-label"><i class="fa fa-pencil d-none"></i></span>Modificar</button>
                                <button name='btnEditTreeView' class="btn btn-xs btn-labeled btn-warning mb-2 d-none" type="button"><span class="btn-label"><i class="fa fa-ban d-none"></i></span>Deshabilitar</button>
                                <button name='btnEditTreeView' class="btn btn-xs btn-labeled btn-danger mb-2 d-none" type="button"><span class="btn-label"><i class="fa fa-trash d-none"></i></span>Eliminar</button>
                                <div id="JSTree" class="custom-TreeView"
                                     data-options='{
											"Controller": "@ViewBag.Controller",
											"MethodSelectAll": { "Method" : "TryGetTreeView" },
											"MethodTryDelete": { "Method" : "TryDelete", "Parameter" : "@ViewBag.Parameter" },
											"MethodTryEdit": { "Method" : "Edit", "Parameter" : "id_Person", "Type" : "Redirect" }
										}'>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/datatables.net/jquery.dataTables.js"></script>
    <script src="~/lib/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
    <script src="~/lib/datatables.net-buttons/dataTables.buttons.js"></script>
    <script src="~/lib/select2/js/select2.js"></script>
    <script src="~/js/CustomDropDown.js"></script>
    <script src="~/js/CustomDataTable.js"></script>
    <script src="~/lib/jstree/jstree.js"></script>
    <script src="~/js/FontAwesomeIcons.js"></script>
    <script src="~/js/CustomTreeView.js"></script>

    <script>
        $(document).ready(() => {
            debugger
            PopulateComboBox('Fk_IconFontAwesome');
            const IdCategory = $('#Id_Category').val();
            const IsTypeFather = $('#Bo_IsTypeFather').is(':checked');
            if (!IsNullOrEmpty(IdCategory) && IsTrue(IsTypeFather)) {
                UnhideElement('containerTreeView');
                CreateJSTreeEdit('JSTree', 'Category', 'TryGetTreeView', 'TryInsert', 'TryEdit', 'TryDelete', IdCategory);
            } else {
                HideElement('containerTreeView');
            }
        });

		$(function () {
			CreateDataTable('tblCategories');
		});

		let fnNewCategory = () => {
			window.location.href = '@Url.Action("Create", "@ViewBag.Controller")';
		};

		$('#Fk_Categories').on('change', () => {
			CreateJSTreeEdit('JSTree', '@ViewBag.Controller', 'TryGetTreeView', 'TryInsert', 'TryEdit', 'TryDelete', 1);
		});

		let AddNewType = () => {
			const nodesChecked = GetNodesChecked('JSTree');
			PopulateComboBoxFontAwesome('Type_Tx_NameIconFontAwesome', FontAwesomeIcons);
			UnhideElement('frmType');
		};

		let fnSaveChangesCategory = () => {
			const obj = GetFormData('frmCategory');
            InsertNewRow('tblPersons','Category/TrySaveChanges', obj);
        };
    </script>
}