﻿@model Interviews.Models.ViewModels.CategoryViewModel

<link rel="stylesheet" href="./lib/datatables.net-bs4/css/dataTables.bootstrap4.css" />
<link rel="stylesheet" href="~/lib/select2/css/select2.css">
<link rel="stylesheet" href="~/lib/select2-theme-bootstrap4/select2-bootstrap.css">
<link rel="stylesheet" href="~/js/proton/style.css" />


<div class="container" style="margin-top:3%">
<a href="#" class="btn btn-primary ViewBag.FontAwesomeIcon" onclick="OpenModalDataTable('ModalCategory', '@ViewBag.TextButton')"> @ViewBag.TextButton</a> <br /><br />
<table id="tblCategories"
       data-options='{
		    "Controller": "@ViewBag.Controller",
		    "MethodSelectAll": { "Method" : "TryPopulateDataTable" },
		    "MethodTryDelete": { "Method" : "TryDelete", "Parameter" : "@ViewBag.Parameter " },
		    "MethodTryEdit": { "Method" : "TryGetCategory", "Type" : "Modal", "Parameter" : "@ViewBag.Parameter", "IdModal": "ModalCategory" }
	    }' class="table table-striped"></table>
</div>
<div id="ModalCategory" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">  
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="lblModal">New message</h5>
                <button type="button" class="close fa fa-close" data-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                @await Html.PartialAsync("EditorTemplate/CategoryForm")
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary fa fa-save" onclick="fnSaveChangesCategory();"> Guardar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="./lib/datatables.net/jquery.dataTables.js"></script>
    <script src="./lib/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
    <script src="./lib/datatables.net-buttons/dataTables.buttons.js"></script>
    <script src="~/lib/select2/js/select2.js"></script>
    <script src="~/js/CustomDropDown.js"></script>
    <script src="./js/CustomDataTable.js"></script>
    <script src="~/lib/jstree/jstree.js"></script>
    <script src="~/js/FontAwesomeIcons.js"></script>
    <script src="~/js/CustomTreeView.js"></script>

    <script>
		$('#ModalCategory').on('shown.bs.modal', (e) => {
			const IdCategory = $('#Id_Category').val();
			const IsTypeFather = $('#Bo_IsTypeFather').is(':checked');
			if (!IsNullOrEmpty(IdCategory) && IsTrue(IsTypeFather)) {
				UnhideElement('containerTreeView');
				CreateJSTreeEdit('JSTree', 'Category', 'TryGetTreeView', 'TryInsert', 'TryEdit', 'TryDelete', IdCategory);
			} else {
				HideElement('containerTreeView');
			}
		});

		$(function () {
			CreateDataTable('tblCategories');
		});

		let fnNewCategory = () => {
			window.location.href = '@Url.Action("Create", "Category")';
		};

		$('#Fk_Categories').on('change', () => {
			CreateJSTreeEdit('JSTree', 'Category', 'TryGetTreeView', 'TryInsert', 'TryEdit', 'TryDelete', 1);
		});

		let AddNewType = () => {
			const nodesChecked = GetNodesChecked('JSTree');
			PopulateComboBoxFontAwesome('Type_Tx_NameIconFontAwesome', FontAwesomeIcons);
			UnhideElement('frmType');
		};

		let fnSaveChangesCategory = () => {
			const obj = GetFormData('frmCategory');

			InsertNewRow('tblCategories', 'Category/TrySaveChanges', obj);
		};
/*
		var names = new Set();
		var icons = document.getElementsByClassName('icon');

		for (const icon of icons) {
			const name = icon.getElementsByTagName('dd')[0].innerText;
			names.add(name);
		}
*/
    </script>
}