@model Interviews.Models.ViewModels.SurveyServiceViewModel

<link rel="stylesheet" href="./lib/datatables.net-bs4/css/dataTables.bootstrap4.css" />
<link rel="stylesheet" href="~/lib/select2/css/select2.css">
<link rel="stylesheet" href="~/lib/select2-theme-bootstrap4/select2-bootstrap.css">
<link rel="stylesheet" href="~/js/proton/style.css" />

<div class="form-group">
	<div class="col-lg-12">
		<div class="card card-default">
			<div class="card-header">
				<i class="fa fa-st-alt"></i> Encuesta
				<a class="float-right" href="#" data-tool="card-collapse" data-toggle="tooltip" title="" data-original-title="Colapsar">
					<em class="fa fa-minus"></em>
				</a>
			</div>
			<div class="card-wrapper collapse show">
                <div class="card-body">


                    
                    <!-- <table id="tblSurveyService"
        data-options='{
            "Controller": "SurveyService",
            "MethodSelectAll": { "Method" : "TryPopulateDataTable" }
             "MethodTryDelete": { "Method" : "TryDelete", "Parameter" : "id_SurveyService" },
            "MethodTryEdit": { "Method" : "TryGetCategory", "Type" : "Redirect", "Parameter" : "id_SurveyService" }
        }' class="table table-striped">
    </table> -->

                    <div class=" container col-lg-12 row">
                        <div class="col-lg-4">
                            <label for="nombre">Full Name:</label>
                            <input type="text" class="form-control" id="" placeholder="Jordan Perez">
                        </div>
                        <div class="col-lg-4">
                            <label for="nombre">Datos de la entrevista:</label>
                            <input type="text" class="form-control" id="" placeholder=".Net">
                        </div>
                        <div class="col-lg-4">
                            <label for="nombre">Fecha & participantes:</label>
                            <input type="text" class="form-control" id="" placeholder="08-10-2018 Jordan Perez & David Hernandez">
                        </div>
                    </div>
                    <div class="container">
                        <form action="" class="col-lg-12 row">

                            <div class="form-group col-lg-4">
                                <blockquote>
                                    <label for="opcion"> Selecion tu experiencia en el Sigeao: </label>
                                    <select class="form-control" name="" id="option">
                                        <option value="">Seleccione una respuesta</option>
                                        <option value="">Buena</option>
                                        <option value="">Regular</option>
                                        <option value="">Mala</option>
                                    </select>

                                    <label for="opcion"> Volverias a usar la plataforma:</label>
                                    <select class="form-control" name="" id="option">
                                        <option value="">Seleccione una respuesta</option>
                                        <option value="">SI</option>
                                        <option value="">NO</option>
                                    </select>
                                </blockquote>
                            </div>

                            <div class="form-group col-lg-4">
                                <blockquote>
                                    <label for="opcion"> Selecion tu experiencia en el Sigeao: </label>
                                    <select class="form-control" name="" id="option">
                                        <option value="">Seleccione una respuesta</option>
                                        <option value="">Buena</option>
                                        <option value="">Regular</option>
                                        <option value="">Mala</option>
                                    </select>

                                    <label for="opcion"> Volverias a usar la plataforma:</label>
                                    <select class="form-control" name="" id="option">
                                        <option value="">Seleccione una respuesta</option>
                                        <option value="">SI</option>
                                        <option value="">NO</option>
                                    </select>
                                </blockquote>
                            </div>

                            <div class="form-group col-lg-4">
                                <blockquote>
                                    <label for="opcion"> Selecion tu experiencia en el Sigeao: </label>
                                    <select class="form-control" name="" id="option">
                                        <option value="">Seleccione una respuesta</option>
                                        <option value="">Buena</option>
                                        <option value="">Regular</option>
                                        <option value="">Mala</option>
                                    </select>

                                    <label for="opcion"> Volverias a usar la plataforma:</label>
                                    <select class="form-control" name="" id="option">
                                        <option value="">Seleccione una respuesta</option>
                                        <option value="">SI</option>
                                        <option value="">NO</option>
                                    </select>
                                </blockquote>
                            </div>

                            <div class="form-group col-lg-4">
                                <blockquote>
                                    <label for="opcion"> Selecion tu experiencia en el Sigeao: </label>
                                    <select class="form-control" name="" id="option">
                                        <option value="">Seleccione una respuesta</option>
                                        <option value="">Buena</option>
                                        <option value="">Regular</option>
                                        <option value="">Mala</option>
                                    </select>
                                </blockquote>
                            </div>
                        </form>
                    </div>
                    <label class="col-form-label" for="">Observacion</label>
                    <div>
                        <textarea class="form-control note-editor note-editor-margin" rows="5" data-val="true"></textarea>
                        <span class="text-danger field-validation-valid" data-valmsg-replace="true"></span>
                    </div><br /><br /><br />
                    <div>
                        <a asp-controller="SurveyService" asp-action="Create" id="btnSurveyService" class="btn btn-info fa fa-check-circle btn btn-lg btn-block active btn-default"> Enviar respuesta</a> <br /><br />
                    </div>
                </div>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	<script src="./lib/datatables.net/jquery.dataTables.js"></script>
	<script src="./lib/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
	<script src="./lib/datatables.net-buttons/dataTables.buttons.js"></script>
	<script src="~/lib/select2/js/select2.js"></script>
	<script src="~/js/CustomDropDown.js"></script>
	<script src="./js/CustomDataTable.js"></script>
	<script src="~/lib/jstree/jstree.js"></script>
	<script src="~/js/FontAwesomeIcons.js"></script>
	<script src="~/js/CustomTreeView.js"></script>

	<script>
		$(function () {
			CreateDataTable('tblSurveyService');
		});

	</script>
}