﻿.custom-TreeView > * {
    font-size: 18px !important;
}

.select2-container--bootstrap .select2-selection--single .select2-selection__rendered {
    color: rgb(255,255,255) !important;
}

.menu-data-table {
    background-color: #116ce9;
    font-size: 14px !important;
}
.page-done{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*background-image: url("../css/images/page-cover.jpg");*/
    background-size: cover;
    background-repeat: no-repeat;
}
.modal-application-fade {
    opacity: 0.9 !important;
    background-color: rgba(0, 0, 0, 0.66)
}

.note-editor {
    background-image: linear-gradient(#eee .1em, transparent 0);
    background-size: 100% 20px;
    line-height: 20px;
    margin-top: 5px;
    padding: 0;
    padding-bottom: 1px;
    border: none;
    font-size: 14px;
}

.note-editor.note-editor-margin {
    background-image: linear-gradient(90deg, transparent 49px, #ffe0c4 0, #ffe0c4 51px, transparent 0), linear-gradient(#eee .1em, transparent 0);
    padding-left: 55px
}

* {
    font-size: 15px;
}
.navbar-logo{
    padding-left:20px;
}

.header .navbar-logo {
    float: left;
    margin-right: 10px;
    position: relative;
    width: 250px;
    height: 40px;
    background: 0 0;
    background-color: #dcdfdf;
    border: 2px solid rgba(255,255,255,0.60);
    opacity: 0.6;
    margin-top: 1px;
    border-radius: 0px;
}