﻿@model Interviews.Models.ViewModels.InterviewViewModel

<link rel="stylesheet" href="./lib/datatables.net-bs4/css/dataTables.bootstrap4.css" />
<link rel="stylesheet" href="~/lib/select2/css/select2.css">
<link rel="stylesheet" href="~/lib/select2-theme-bootstrap4/select2-bootstrap.css">
<link rel="stylesheet" href="~/js/proton/style.css" />


<div class="card-wrapper collapse show">
	<div class="card-body">
		<a asp-controller="@ViewBag.Controller" asp-action="Create" id="btnRequestInterview" class="btn btn-info fa fa-plus"> @ViewBag.TextButton </a> <br /><br />
		<table id="tblInterviews"
			data-options='{
				"Controller": "@ViewBag.Controller",
				"MethodSelectAll": { "Method" : "TryPopulateDataTable" },
				"MethodTryDelete": { "Method" : "TryDelete", "Parameter" : "@ViewBag.Parameter" },
				"MethodTryEdit": { "Method" : "TryGetCategory", "Type" : "Redirect", "Parameter" : @ViewBag.Parameter" }
			}' class="table table-striped">
		</table>
	</div>
</div>

@section Scripts {
	<script src="./lib/datatables.net/jquery.dataTables.js"></script>
	<script src="./lib/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
	<script src="./lib/datatables.net-buttons/dataTables.buttons.js"></script>
	<script src="~/lib/select2/js/select2.js"></script>
	<script src="~/js/CustomDropDown.js"></script>
	<script src="./js/CustomDataTable.js"></script>
	<script src="~/lib/jstree/jstree.js"></script>
	<script src="~/js/FontAwesomeIcons.js"></script>
	<script src="~/js/CustomTreeView.js"></script>

	<script>
        $('#ModalInterview').on('shown.bs.modal', (e) => {
            PopulateComboBox('Fk_Topic');
            PopulateComboBox('Fk_Professor');
            PopulateComboBox('Fk_Subject');
            PopulateComboBox('Fk_StateInterview');
		});

		$(function () {
			CreateDataTable('tblInterviews');
		});

		$('#Fk_Categories').on('change', () => {
			CreateJSTreeEdit('JSTree', 'Interview', 'TryGetTreeView', 'TryInsert', 'TryEdit', 'TryDelete', 1);
        });
	</script>
}