﻿@model Interviews.Models.ViewModels.InterviewViewModel
@Html.ValidationSummary(true, "Por favor, arregle los siguientes errores: ")

@{
    int fkStudent = 0;
    int fkProfessor = 0;
    int fkStateInterview = 0;
    int fkTopic = 0;

    if (Model != null)
    {
        fkStudent = Model.Fk_Student;
        fkProfessor = Model.Fk_Professor;
        fkStateInterview = Model.Fk_StateInterview;
        fkTopic = Model.Fk_Topic;
    };
}

<link rel="stylesheet" href="~/lib/select2/css/select2.css">
<link rel="stylesheet" href="~/lib/select2-theme-bootstrap4/select2-bootstrap.css">
<link rel="stylesheet" href="~/lib/bootstrap4-datetimepicker/css/bootstrap-datetimepicker.css">
<link rel="stylesheet" href="~/lib/fullcalendar/fullcalendar.css" />


<form id="frmInterview" class="form-horizontal">
    <input asp-for="Id_Interview" type="hidden">
    <input id="Fk_Topic" type="hidden">
    <div class="form-group row col-lg-12">
        <div class="form-group col-lg-6">
            <label class="col-form-label">Area de conocimiento</label>
            <div>
                <select id="Fk_Subject" class="form-control text-capitalize" data-options='{ "Controller" : "Category", "Method" : "GetSubjects", "Selected" : @fkStateInterview, "IdField" : "id_Type", "DescriptionField" : "tx_Description" }'><option></option></select>
            </div>
        </div>
        <div class="form-group col-lg-6">
            <label asp-for="Fk_Professor" class="col-form-label"></label>
            <div>
                <select asp-for="Fk_Professor" class="form-control text-capitalize" data-options='{ "Controller" : "Professor", "Method" : "GetAll", "Selected" : @fkProfessor, "IdField" : "id_Professor", "DescriptionField" : "tx_FullName" }'><option></option></select>
            </div>
        </div>
    </div>
    <div class="form-group row col-lg-12">
        <div class="form-group col-lg-4">
        <div class="vertical-box-column p-r-30 d-none d-lg-table-cell" style="width: 215px">
            <h5 class="m-t-0 m-b-15">Motivos</h5>
            <div id="external-events" class="fc-event-list"></div>
        </div>
        </div>    
        <div class="form-group col-lg-8">
            <label asp-for="Tx_DescriptionInterview" class="col-form-label"></label>
            <div>
                <textarea asp-for="Tx_DescriptionInterview" class="form-control note-editor note-editor-margin" rows="10"></textarea>
                <span asp-validation-for="Tx_DescriptionInterview" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="vertical-box">

        <div id="sheduler" class="vertical-box-column calendar"></div>
    </div>
</form>

<script src="~/lib/select2/js/select2.js"></script>
<script src="~/lib/moment/moment.min.js"></script>
<script src="~/lib/moment/locales.js"></script>
<script src="~/lib/bootstrap4-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script src="~/js/CustomDropDown.js"></script>
<script src="~/js/jquery-ui-1.12.1/jquery-ui.js"></script>
<script src="~/lib/select2/js/select2.js"></script>
<script src="~/lib/moment/moment.min.js"></script>
<script src="~/lib/moment/locales.js"></script>
<script src="~/lib/fullcalendar/fullcalendar.js"></script>
<script src="~/lib/fullcalendar/locale/es.js"></script>

<script>
    $(document).ready(function() {
        PopulateComboBox('Fk_Subject');
        ResetValues('Fk_Professor');
        EnabledDragItem();

        var data =
            [
                {
                    start: '2017-01-01',
                    end: '2019-12-31',
                    overlap: false,
                    rendering: 'background',
                    color: '#ff9f89'
                },
            ];
        GenerateCalender(data);
    })

    $('#Fk_Subject').on('select2:select', function (e) {
        PopulateComboBox('Fk_Professor');
        var data = e.params.data;

        let obj = {
            'fk_Subject': data.id_Type
        };

        let HttpRequest = MakeRequest('SubjectByProfessor/GetProfessorBySubject', obj);

        HttpRequest
            .then(res => {
                PopulateComboBoxWithData('Fk_Professor', res.body);
            }).catch((err) => {
                console.log(`Algo salió mal: ${err}`);
            });

        obj = {
            'id_Type': data.id_Type
        }

        HttpRequest = MakeRequest('Type/GetTypesChildrenByFather', obj);
        
        HttpRequest
            .then(res => {
                $('#external-events').empty();
                $.each(JSON.parse(res.body), (index, item) => {
                    $('#external-events').append(`<div id="${item.id_Type}" name="dragItem" class="fc-event" data-color="#00acac"><div class="fc-event-icon"><i class="${item.tx_NameIconFontAwesome} fa-fw f-s-9 text-success"></i></div> ${item.tx_Description}</div>`);
                });
                EnabledDragItem();
            }).catch((err) => {
                console.log(`Algo salió mal: ${err}`);
            });
    });

    $('#Fk_Professor').change(() => {
        FetchEventAndRenderCalendar($('#Fk_Professor').val());
    });

	function FetchEventAndRenderCalendar(idProfessor) {
		let obj = {
			Id_Professor: idProfessor
		};

		let HttpRequest = MakeRequest('Professor/GetAllDataAvalaibleFullCalendarByProfessor', obj);

		HttpRequest
			.then(res => GenerateCalender(JSON.parse(res.body)))
			.catch(err => console.log(err));
	}

    function EnabledDragItem() {
        $("[name='dragItem'").each(function () {
            $(this).data('event', {
                title: $.trim($(this).text()),
                stick: true
            });
            $(this).draggable({
                zIndex: 999,
                revert: true,
                revertDuration: 0.5
            });
        });
    }

    function GenerateCalender(data) {
        $('#sheduler').fullCalendar('destroy');
        $('#sheduler').fullCalendar({
            themeSystem: 'bootstrap4',
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay',
                defaultAllDay: true,
            },
            allDayText: false,
            nowIndicator: true,
            defaultView: 'agendaWeek',
            weekNumbers: true,
            eventLimit: true,
            events: data,
            selectable: false,
            droppable: true,
            dropAccept: '.ui-draggable',
            drop: function (date, jsEvent, ui, resourceId) {
                $('#Fk_Topic').val(this.id);
            },
            editable: true,
            eventResize: function (event, delta, revertFunc) {
                let startDate = new Date(event.start.format());
                let endDate = new Date(event.end.format());

                fnSaveChangesInterview(startDate, endDate);
            },
            eventDrop: function (event) {

                let startDate = new Date(event.start.format());
                let endDate = new Date(startDate);
                let hourStartDate = startDate.getHours();
                endDate.setHours(hourStartDate + 2);

                fnSaveChangesSheduleByProfessor(startDate, endDate);
            }
        })
    }

    function fnSaveChangesInterview(start, end) {
        let Fk_Topic = $('#FK_').val();
        let Fk_Professor = $('#Fk_Professor').val();

		let obj = {
            'Fk_Student': 1,
            'Fk_Professor': Fk_Professor,
            'Fk_Topic': $('#Fk_Topic').val(),
            'Tx_DescriptionInterview': $('#Tx_DescriptionInterview').val(),
            'Start': fnCancelTimeChangesUTC(start),
            'End': fnCancelTimeChangesUTC(end)
		};
        ConfirmInsertAction('Interview/TrySaveChanges', obj);
    }
</script>