﻿@model Interviews.Models.ViewModels.CategoryViewModel
@Html.ValidationSummary(true, "Por favor, arregle los siguientes errores: ")

<link rel="stylesheet" href="~/lib/select2/css/select2.css">
<link rel="stylesheet" href="~/lib/select2-theme-bootstrap4/select2-bootstrap.css">
<link rel="stylesheet" href="~/lib/bootstrap4-datetimepicker/css/bootstrap-datetimepicker.css">

<div class="form-group">
	<div class="col-lg-12">
		<div class="card card-default">
			<div class="card-header">
				<i class="fa fa-cog"></i> Categoría
				<a class="float-right" href="#" data-tool="card-collapse" data-toggle="tooltip" title="" data-original-title="Colapsar">
					<em class="fa fa-minus"></em>
				</a>
			</div>
			<div class="card-wrapper collapse show">
				<div class="card-body">
					<form id="frmCategory" class="form-horizontal">
						<input asp-for="Id_Category" type="hidden">
						<div class="form-group">
							<label asp-for="Tx_Description" class="col-form-label"></label>
							<input asp-for="Tx_Description" class="form-control text-capitalize">
							<span asp-validation-for="Tx_Description" class="text-danger"></span>
						</div>
						<br>
						<div class=" container">
							<div class="row">
								<div class="checkbox c-checkbox col-sm-4">
									<label asp-for="Bo_Enabled">
										<input asp-for="Bo_Enabled">
										<span asp-validation-for="Bo_Enabled" class="fa fa-check"></span><label asp-for="Bo_Enabled"></label>
									</label>
								</div>
								<div class="checkbox c-checkbox col-sm-6">
									<label asp-for="Bo_IsTypeFather">
										<input asp-for="Bo_IsTypeFather">
										<span asp-validation-for="Bo_IsTypeFather" class="fa fa-check"></span><label asp-for="Bo_IsTypeFather"></label>
									</label>
								</div>							
							</div>
						</div>
					</form>
					<div id="containerTreeView" class="d-none">
						<fieldset>
							<legend class="border-bottom mb-4 fa fa-cogs"> SubCategorias asociadas</legend>
							<form id="frmType" class="form-horizontal d-none">
								<input asp-for="Type.Id_Type" type="hidden">	
								<div class="form-group row">
									<label asp-for="Type.Tx_Description" class="col-form-label col-xl-4"></label>
									<div class="col-xl-8">
										<input asp-for="Type.Tx_Description" class="form-control text-capitalize">
										<span asp-validation-for="Type.Tx_Description" class="text-danger"></span>
									</div>
								</div>
								<div class="form-group row">
									<label asp-for="Type.Tx_NameIconFontAwesome" class="col-form-label col-xl-4"></label>
									<div class="col-xl-8">
										<select asp-for="Type.Tx_NameIconFontAwesome" class="form-control text-capitalize" data-options='{ "IdModal": "ModalCategory" }'><option></option></select>
										<span asp-validation-for="Type.Tx_NameIconFontAwesome" class="text-danger"></span>
									</div>
								</div>
								<br>
								<div class="checkbox c-checkbox col-sm-4">
									<label asp-for="Type.Bo_Enabled">
										<input asp-for="Type.Bo_Enabled">
										<span asp-validation-for="Type.Bo_Enabled" class="fa fa-check"></span><label asp-for="Type.Bo_Enabled"></label>
									</label>
								</div>
							</form>
							<div class="card-body">
								<button class="btn btn-xs btn-labeled btn-primary mb-2" type="button" onclick="AddNewType();"><span class="btn-label"><i class="fa fa-plus"></i></span>Agregar</button>
								<button name='btnEditTreeView' class="btn btn-xs btn-labeled btn-success mb-2 d-none" type="button"><span class="btn-label"><i class="fa fa-pencil d-none"></i></span>Modificar</button>
								<button name='btnEditTreeView' class="btn btn-xs btn-labeled btn-warning mb-2 d-none" type="button"><span class="btn-label"><i class="fa fa-ban d-none"></i></span>Deshabilitar</button>
								<button name='btnEditTreeView' class="btn btn-xs btn-labeled btn-danger mb-2 d-none" type="button"><span class="btn-label"><i class="fa fa-trash d-none"></i></span>Eliminar</button>
								<div id="JSTree"
									data-options='{
											"Controller": "Type",
											"MethodSelectAll": { "Method" : "TryGetTreeView" },
											"MethodTryDelete": { "Method" : "TryDelete", "Parameter" : "id_Person" },
											"MethodTryEdit": { "Method" : "Edit", "Parameter" : "id_Person", "Type" : "Redirect" }
										}'>
								</div>
							</div>
						</fieldset>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>