﻿@model Interviews.Models.ViewModels.SubjectByProfessorViewModel
@Html.ValidationSummary(true, "Por favor, arregle los siguientes errores: ")

<link rel="stylesheet" href="~/lib/select2/css/select2.css">
<link rel="stylesheet" href="~/lib/select2-theme-bootstrap4/select2-bootstrap.css">

<script src="~/lib/select2/js/select2.js"></script>
<script src="~/js/CustomDropDown.js"></script>

@{
    int fkSubject = 0;
    int fkProfessor = 0;
    if (Model != null)
    {
        fkSubject = Model.Fk_Subject;
        fkProfessor = Model.Fk_Professor;
    }
}


<div class="form-group ">
    <div class="col-lg-12">
        <div class="card card-default">
            <div class="card-header">
                <i class="fa fa-user"></i> Areas de conocimiento
                <a class="float-right" href="#" data-tool="card-collapse" data-toggle="tooltip" title="" data-original-title="Colapsar">
                    <em class="fa fa-minus"></em>
                </a>
            </div>
            <div class="card-wrapper collapse show">
                <div class="card-body">
                    <form id="frmSubjectByProfessor">
                        <fieldset>
                            <input asp-for="Id_SubjectByProfessor" type="hidden">
                            <div class="form-group row m-b-15">
                                <label asp-for="Tx_FullNameProfessor" class="col-lg-2 col-form-label"></label>
                                <div class="col-lg-4">
                                    <select asp-for="Fk_Professor" class="form-control selectpicker" data-options='{ "Controller" : "Professor", "Method" : "GetAll", "Selected" : @fkProfessor, "IdField" : "id_Professor", "DescriptionField" : "tx_FullName", "IdModal": "ModalSubjectByProfessor" }'><option></option></select>
                                </div>
                                <label asp-for="Fk_Subject" class="col-lg-2 col-form-label"></label>
                                <div class="col-lg-4">
                                    <select asp-for="Fk_Subject" class="form-control selectpicker" data-options='{ "Controller" : "Category", "Method" : "GetSubjects", "Selected" : @fkSubject, "IdField" : "id_Type", "DescriptionField" : "tx_Description", "IdModal": "ModalSubjectByProfessor" }'><option></option></select>
                                </div>
                            </div>
                            <br>
                            <div class="checkbox c-checkbox col-sm-4">
                                <label asp-for="Bo_Enabled">
                                    <input asp-for="Bo_Enabled">
                                    <span asp-validation-for="Bo_Enabled" class="fa fa-check"></span><label asp-for="Bo_Enabled"></label>
                                </label>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        PopulateComboBox('Fk_Subject');
        PopulateComboBox('Fk_Professor');
    })

    function fnSaveChangesSubjectByProfessor() {
        const obj = GetFormData('frmSubjectByProfessor');

        InsertNewRow('tblSubjectByProfessor', 'SubjectByProfessor/TrySaveChanges', obj);
    }

    $('#Fk_TypeInformationRequired').on('select2:select', function (e) {
        var data = e.params.data;

        let IsDropDrownList = data.bo_IsDropDownList;

        let obj = {
            'fk_AssociatedCategory': data.fk_AssociatedCategory
        };
        let HttpRequest = MakeRequest('PersonalInformationRequired/TryFindDataInformationRequired', obj);

        HttpRequest
            .then(res => {
                if (IsDropDrownList) {
                    $('#dvPersonalInformation').removeClass('invisible');
                    PopulateComboBoxWithData('Fk_TypeInformation_II', res.body);
                }
            }).catch((err) => {
                console.log(`Algo salió mal: ${err}`);
            });
    });
</script>
